@page "/todo"
@inject TodoListBlazor.Services.TodoService todoService

<h3>Todo List</h3>

@if (todoItems != null && todoItems.Count > 0)
{
    <ul>
        @foreach (var item in todoItems)
        {
            <li>@item.Title - @item.IsCompleted</li>
        }
    </ul>
}
else
{
    <p>No todo items found.</p>
}

@code {
    List<TodoListBlazor.Services.TodoItem> todoItems;

    protected override void OnInitialized()
    {
        todoItems = todoService.GetTodoItems();
    }
}
